<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlms:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayCentric-後台管理-新增遊戲</title>
</head>

<body>
    <div th:replace="~{/layout/nav}"></div>

    <div class="flex justify-center">
        <div class="flex justify-center my-5 border-2 p-20 rounded-md">
            <form th:action="@{/game/insertGame}" method="post" enctype="multipart/form-data">
                <div class="space-y-4">

                    <div class="flex flex-col">
                        <label for="gameName" class="text-lg me-2">遊戲名稱：</label>
                        <input required type="text" name="gameName" id="gameName" class="text-input"
                            placeholder="請輸入名稱...">
                    </div>

                    <div class="flex flex-col">
                        <label for="price" class="text-lg me-2">遊戲價格：</label>
                        <input required type="text" name="price" id="price" maxlength="5" pattern="[1-9]{1}\d{0,4}"
                            class="text-input" placeholder="請輸入價格...">
                    </div>

                    <div class="flex flex-col">
                        <label for="description" class="text-lg me-2">遊戲介紹：</label>
                        <textarea required type="text" name="description" id="description" rows="20"
                            class="text-input resize-none overflow-auto noscrollbar"
                            placeholder="請輸入遊戲介紹..."></textarea>
                    </div>

                    <div class="flex flex-col">
                        <label for="developer" class="text-lg me-2">開發者：</label>
                        <input required type="text" name="developer" id="developer" class="text-input"
                            placeholder="請輸入名稱...">
                    </div>

                    <div class="flex flex-col">
                        <label for="publisher" class="text-lg me-2">發行商：</label>
                        <input required type="text" name="publisher" id="publisher" class="text-input"
                            placeholder="請輸入名稱...">
                    </div>

                    <div class="flex flex-col">
                        <label for="gameType" class="text-lg me-2">遊戲分類：</label>
                        <div class="w-96 px-4 py-2 grid grid-cols-2">
                            <th:block th:each="type,i: ${allType}">
                                <div class="col-span-1">
                                    <div class="flex items-center">
                                        <input th:value="${type.gameTypeId}" th:id="type + ${i}" name="typeId[]"
                                            type="checkbox" class="h-4 w-4 text-blue-600 border-gray-300 rounded">
                                        <label th:for="type + ${i}" class="ml-2 block text-sm text-gray-900"
                                            th:text="${type.gameTypeName}"></label>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>

                    <div class="flex flex-col">
                        <label for="publisher" class="text-lg me-2 mb-2">加入圖片：</label>

                        <div class="w-96 grid grid-cols-2 gap-3 imgs">
                            <div class="col-span-1 w-full h-48 bg-slate-400 rounded-md img-choose">
                                <div class="w-full h-full flex justify-center items-center  cursor-pointer">
                                    <span class="text-3xl select-none">+</span>
                                </div>
                            </div>
                            <div class="col-span-1 w-full h-48 bg-slate-400 rounded-md relative">

                                <div class="absolute right-2 top-2">

                                </div>

                                <div class="w-full h-full flex justify-center items-center  cursor-pointer">
                                    <img th:src="@{/images/controller1.png}" alt="">
                                </div>
                            </div>
                        </div>

                        <input id="photos" class="hidden" type="file" name="phtos" multiple maxlength="5">


                    </div>

                    <div class="flex items-center justify-center">
                        <button class="btn btn-sky rounded-md" type="submit">新增</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <script>
        const imgs = document.querySelector('.imgs');
        const photos = document.querySelector('#photos');
        let imgChooser = document.querySelector('.img-choose')




        function imgHtmlMaker(data) {
            data.forEach(elm => {
                const html = `
                
                `;
            });
        }
    </script>

</body>

</html>