<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlms:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayCentric-後台管理-新增公告</title>
</head>

<body>
    <div th:replace="~{/layout/nav}"></div>

    <div class="flex justify-center">
        <div class="flex justify-center my-5 border-2 p-20 rounded-md">
            <form action="#" method="post">
                <div class="space-y-4">
                    <div class="flex overflow-hidden items-center">
                        <label for="title" class="text-lg me-2">優惠名稱：</label> <input required type="text" name="title"
                            id="title"
                            class="w-96 px-4 py-2 border border-gray-300 focus:outline-2 focus:outline-cyan-200 rounded-lg"
                            placeholder="請輸入標題">
                    </div>
                    <div class="flex overflow-hidden items-center">
                        <label for="content" class="text-lg me-2">開始時間：</label>

                    </div>


                    <div class="flex overflow-hidden items-center justify-center">
                        <button class="ms-8 btn btn-sky rounded-md" type="submit">新增</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</body>

</html>