<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Market Navbar</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .navbar-table {
            width: 50vw;
            margin: auto;
        }
        .navbar-table td {
            padding: 10px;
        }
        .navbar-table a {
            text-decoration: none;
            color: #007bff;
        }
        .navbar-table a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <!-- 導覽表格 -->
    <table class="table table-bordered navbar-table">
        <tbody>
            <tr>
                <td><a th:href="@{/market/SelectGame}">道具總覽</a></td>
                <td><a th:href="@{/market/SelectGame}">拍賣場</a></td>
                <td><a th:href="@{/market/SelectGame}">成交紀錄</a></td>
                <td><a th:href="@{/market/SelectGame}">我的倉庫</a></td>
            </tr>
        </tbody>
    </table>    
    <script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.js}"></script>
	<script th:src="@{/js/dataTables.js}"></script>
	<script th:src="@{/js/axios.min.js}"></script>
    
</body>
</html>
