<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlms:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="stylesheet" th:href="@{/css/tabulator.min.css}">
    <script th:src="@{/js/tabulator.min.js}"></script>
    <title>PlayCentric-後台管理-公告</title>
</head>

<body class="h-screen flex flex-col w-screen">
    <!-- 頂部導航欄 -->
    <div class="" th:replace="~{/layout/nav}"></div>

    <div class="flex flex-1">
        <!-- 側邊欄 -->
        <aside class="w-64 bg-slate-300 text-black flex flex-col rounded-md">
            <div class="p-4">
                <h1 class="text-2xl font-semibold">管理選單</h1>
            </div>
            <nav class="flex-1 left-nav">
                <ul>
                    <li class="leftmenuitem px-4">
                        <a href="#" class="block py-2.5 px-4 rounded ">會員管理</a>
                    </li>
                    <li class="leftmenuitem px-4 left-selected">
                        <a href="#" class="block py-2.5 px-4 rounded ">公告管理</a>
                    </li>
                    <li class="leftmenuitem px-4">
                        <a th:href="@{/back/game}" class="block py-2.5 px-4 rounded ">遊戲管理</a>
                    </li>
                    <li class="leftmenuitem px-4">
                        <a th:href="@{/prop/propSheet}" class="block py-2.5 px-4 rounded ">遊戲道具管理</a>
                    </li>
                    <li class="leftmenuitem px-4">
                        <a th:href="@{/playFellow/cms}" class="block py-2.5 px-4 rounded ">伴遊管理</a>
                    </li>
                    <li class="leftmenuitem px-4">
                        <a href="#" class="block py-2.5 px-4 rounded ">活動管理</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <!-- 主要內容區域 -->
        <main class="w-full h-auto">
            <div class="w-full h-auto flex flex-col justify-center px-8">
                <input class="mb-4 p-2 border border-gray-300 rounded-md" type="text" id="search" placeholder="搜尋...">
                <div class="flex justify-end pb-2">
                    <select class="w-1/5 border-2" id="type">
                        <option value="0">所有</option>
                        <th:block th:each="type: ${allType}">
                            <option th:value="${type.annoTypeId}" th:text="${type.annoTypeName}"></option>
                        </th:block>
                    </select>
                </div>

                <div class="w-full" id="table">
                    <table class="w-full border-collapse shadow">
                        <thead>
                            <tr>
                                <th class="text-center w-1/12 border">標題</th>
                                <th class="text-center w-2/12 border">分類</th>
                                <th class="text-center w-1/6 border">創建日期</th>
                                <th class="text-center w-2/6 border">最後編輯時間</th>
                                <th class="text-center w-1/4 border">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="anno:${allAnno}">
                                <tr>
                                    <td class="border p-3 title">
                                        <a th:href="@{/anno/showOneAnno(annoId=${anno.annoId})}" th:text="${anno.title}"
                                            class="text-center"></a>
                                    </td>
                                    <td th:text="${anno.announcementType.annoTypeName}"
                                        class="border p-3 title text-center">
                                    </td>
                                    <td th:text="${anno.createAt}" class="text-center border p-3 createAt"></td>
                                    <td th:text="${#dates.format(anno.lastEditAt,'yyyy-MM-dd HH:mm:ss')}"
                                        class="text-center border p-3 lastEditAt"></td>
                                    <td class="text-center border p-3">
                                        <a th:href="@{/anno/getUpdatAnno(annoId=${anno.annoId})}"
                                            class="btn btn-sky rounded-md me-2 block md:inline">修改</a>
                                        <a th:href="@{/anno/deleteAnno(annoId=${anno.annoId})}"
                                            class="btn btn-danger rounded-md me-2 block md:inline">刪除</a>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <div class="fixed w-16 h-16 p-2 bg-sky-200 bottom-20 right-10 rounded-full flex justify-center items-center">
        <a th:href="@{/anno/getInsertAnno}" class="text-4xl text-black">+</a>
    </div>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/announcement/back-anno.js}"></script>

</body>

</html>