<!DOCTYPE html>
<html lang="zh-TW" xmlms:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>新增公告</title>
</head>

<body>
	<form th:action="@{/anno/updateAnno}" method="post">
		<h3>標題</h3><br>
		<input type="hidden" th:value="${anno.annoId}" name="annoId"/>
		<input type="hidden" th:value="${anno.createAt}" name="createAt"/>
		<input type="text" name="title" th:value="${anno.title}" /><br>
		<h3>內容</h3><br>
		<textarea name="content">[[${anno.content}]]</textarea><br>
		<h3>類別</h3><br>
		<select name="typeId">
			<th:block th:each="annoType:${allAnnoType}">
				<option th:if="${anno.announcementType.annoTypeId == annoType.annoTypeId}"
					th:value="${annoType.annoTypeId}" selected>[[${annoType.annoTypeName}]]</option>
				<option th:if="${anno.announcementType.annoTypeId != annoType.annoTypeId}"
					th:value="${annoType.annoTypeId}">[[${annoType.annoTypeName}]]</option>
			</th:block>
		</select><br><br>
		<button type="submit">修改</button>
	</form>
</body>

</html>