<!DOCTYPE html>
<html lang="zh-TW" xmlms:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>新增公告</title>
</head>

<body>
	<form th:action="@{/anno/insertAnno}" method="post">
		<h3>標題</h3><br>
		<input type="text" name="title" /><br>
		<h3>內容</h3><br>
		<textarea name="content"></textarea><br>
		<h3>類別</h3><br>
		<select name="typeId">
			<th:block th:each="annoType:${allAnnoType}">
				<option th:value="${annoType.annoTypeId}">[[${annoType.annoTypeName}]]</option>
			</th:block>
		</select><br><br>
		<button type="submit">新增</button>
	</form>
</body>

</html>