<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlms:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${anno.title}"></title>
</head>

<body class="h-screen">
    <div th:replace="~{/layout/nav}"></div>
    <div class="flex justify-center">
        <div class="container">
            <div class="my-5 grid grid-cols-6 h-3/4">
                <div class="col-span-1"></div>
                <div class="col-span-4 py-3 h-full">
                    <main class="h-full">
                        <section class="h-full">
                            <h1 th:text="${anno.title}" class="text-center text-5xl"></h1>
                            <article class="relative m-5 h-full bg-content rounded-md p-5 border-2 shadow">
                                <div th:text="${anno.content}"></div>
                                <div class="absolute right-5 bottom-5"
                                    th:text="最後編輯時間： + ${#dates.format(anno.lastEditAt,'yyyy年MM月dd日 HH:mm:ss')}"></div>
                            </article>
                        </section>
                    </main>
                </div>
                <div class="col-span-1"></div>
            </div>
        </div>
    </div>
</body>

</html>