<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlms:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayCentric-後台管理-新增公告</title>
</head>

<body>
    <div th:replace="~{/layout/nav}"></div>

    <div class="grid grid-cols-12">
        <div class="col-span-3"></div>
        <div class="col-span-6 min-h-screen">
            <div class="flex justify-center my-5 bg-content p-5 rounded-md">
                <form th:action="@{/anno/insertAnno}" method="post">
                    <input type="hidden" th:value="${anno.annoId}" name="annoId" />
                    <input type="hidden" th:value="${anno.createAt}" name="createAt" />
                    <div class="space-y-4">
                        <div class="flex overflow-hidden items-center">
                            <label for="title" class="text-lg me-2">標題：</label>
                            <input type="text" name="title" id="title"
                                class="w-96 px-4 py-2 border border-gray-300 focus:outline-2 focus:outline-cyan-200 rounded-lg"
                                placeholder="請輸入標題" th:value="${anno.title}">
                        </div>
                        <div class="flex overflow-hidden items-center">
                            <label for="content" class="text-lg me-2">內容：</label>
                            <textarea name="content" id="content"
                                class="size-96 px-4 py-2 border border-gray-300 focus:outline-2 focus:outline-cyan-200 resize-none rounded-lg"
                                placeholder="請輸入內容">[[${anno.content}]]</textarea>
                        </div>
                        <div class="flex overflow-hidden items-center">
                            <label for="typeId" class="text-lg me-2">分類：</label>
                            <select class="w-96 focus:outline-2 focus:outline-cyan-200" name="typeId" id="">
                                <th:block th:each="annoType:${allAnnoType}">
                                    <option th:if="${anno.announcementType.annoTypeId == annoType.annoTypeId}"
                                        th:value="${annoType.annoTypeId}" selected>[[${annoType.annoTypeName}]]</option>
                                    <option th:if="${anno.announcementType.annoTypeId != annoType.annoTypeId}"
                                        th:value="${annoType.annoTypeId}">[[${annoType.annoTypeName}]]</option>
                                </th:block>
                            </select>
                        </div>
                        <div class="flex overflow-hidden items-center justify-center">
                            <button class="ms-8 btn" type="submit">修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-span-3"></div>
    </div>


</body>

</html>