<!DOCTYPE html>
<html lang="zh-TW" xmlms:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <title>nav</title>
</head>

<body>
    <nav class="mb-2 bg-black top-nav">
        <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-20">
                <!-- Logo及名稱 -->
                <div class="flex items-center relative z-20">
                    <div class="shrink-0 flex items-center">
                        <a class="flex items-center" th:href="@{/}">
                            <img th:src="@{/images/MyLogo.png}" alt="logo" class="h-14 w-auto sm:h-16">

                            <span class="text-white ml-1 text-4xl">PlayCentric</span>
                        </a>
                    </div>
                </div>

                <!-- menu -->
                <div class="text-white flex items-center font-semibold relative z-50">
                    <div class="hidden md:flex md:ml-6 md:space-x-4 select-none cursor-pointer">
                        <div>
                            <a th:href="@{/back/anno}">管理介面</a>
                        </div>
                        <div class="relative tag">
                            會員
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="relative tag">
                            遊戲商店
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="relative tag">
                            討論區
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        <a th:href="@{/forum/page}">首頁</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="relative tag">
                            物品交易
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="relative tag">
                            伴遊
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="relative tag">
                            活動
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">我的選項</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="md:hidden flex items-center">
                        <button id="mobile-menu-button" class="text-white hover:text-opacity-80">
                            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile menu -->
        <div id="mobile-menu" class="text-white bg-black md:hidden hidden text-center select-none relative z-50">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:pl-1">
                <div>
                    <a th:href="@{/back/anno}">管理介面</a>
                </div>
                <div class="tag-m">
                    會員
                    <div class="dropmenu-m hidden">
                        <ul>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tag-m">
                    遊戲商店
                    <div class="dropmenu-m hidden">
                        <ul>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tag-m">
                    討論區
                    <div class="dropmenu-m hidden" th:href="@{/messages/page}">
                        <ul>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tag-m">
                    物品交易
                    <div class="dropmenu-m hidden">
                        <ul>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tag-m">
                    伴遊
                    <div class="dropmenu-m hidden">
                        <ul>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tag-m">
                    活動
                    <div class="dropmenu-m hidden">
                        <ul>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">我的選項</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <script th:src="@{/js/layout/nav.js}"></script>
</body>

</html>