@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary-tw {
    background-color: #1e36b0dc;
}

.bg-primary-sub-tw {
    background-color: #5d6fc9dc;
}

.bg-aside-tw {
    background-color: #92d6ec;
}

.border-aside-tw {
    border-color: #92d6ec;
}

.bg-aside-sub-tw {
    background-color: #d8f4ff;
}

.border-primary-sub-tw {
    border-color: #5d6fc9dc;
}

.bg-main {
    background-color: #eef8fcfe;
}

.bg-content {
    background-color: #c4e8f4;
}

.leftmenuitem {
    @apply border-aside-tw border-2 rounded-md
}

.leftmenuitem:hover {
    @apply bg-aside-sub-tw border-gray-900
}

.btn {
    @apply bg-primary-tw text-white p-2 rounded-md
}

.btn:hover {
    @apply border-primary-sub-tw
}

.noscrollbar {
    scrollbar-width: 0;
    -ms-overflow-style: none;
}

.noscrollbar::-webkit-scrollbar {
    display: none;
}


body {
    @apply bg-main
}

.dropmenu {
    @apply absolute w-max right-0 px-1 py-1 rounded-md bg-primary-sub-tw
}

.dropmenu-m {
    @apply transition-all duration-200 bg-primary-sub-tw
}

.menu-item {
    @apply transition-all duration-200 p-2 rounded-lg border-2 border-primary-sub-tw bg-primary-sub-tw;
}

.menu-item:hover {
    @apply bg-sky-500 border-yellow-200;
}