<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <title>登入頁面</title>
</head>

<body>

    <div th:replace="~{layout/nav}"></div>

    <div class="container my-3">
        <div class="row">
            <div class="col-2">
                <div class="h2">會員首頁</div>
            </div>
            <div class="ms-auto col-2 d-flex flex-column" th:switch="${loginMember}">
                <a th:case="null" th:href="@{/member/login}" class="ms-auto btn btn-primary">登入/註冊</a>
                <div class="ms-auto d-flex align-items-center justify-content-end" th:case="*">
                    <span th:text="${loginMember.nickname}"></span>
                    <a th:href="@{/member/logout}" class="btn btn-primary">登出</a>
                </div>
                <span class="ms-auto" th:text="${okMsg} ? ${okMsg}"></span>
            </div>
        </div>
    </div>

</body>

</html>