<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/output.css">
    <title>Document</title>
</head>

<body>
    <nav class="bg-yellow-100 shadow-md">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-20"> <!-- 使用 justify-between 來分配左右空間 -->
                <div class="flex items-center"> <!-- 左側圖片和文本 -->
                    <div class="shrink-0 flex items-center">
                        <a href="#">
                            <img src="../static/images/MyLogo.png" alt="logo" class="h-14 w-auto sm:h-16">
                        </a>
                        <span class="ml-1 text-4xl">PlayCentric</span>
                    </div>
                    <div class="hidden md:flex md:ml-6 md:space-x-8">

                    </div>
                </div>
                <div class="flex items-center"> <!-- 右側登入和註冊 -->
                    <div class="hidden md:flex md:ml-6 md:space-x-8">
                        <a href="#" class="text-gray-900 hover:text-gray-700  rounded-md text-lg font-medium">首頁</a>
                        <a href="#" class="text-gray-900 hover:text-gray-700  rounded-md text-lg font-medium">關於我們</a>
                        <a href="#" class="text-gray-900 hover:text-gray-700  rounded-md text-lg font-medium">服務</a>
                        <a href="#" class="text-gray-900 hover:text-gray-700  rounded-md text-lg font-medium">聯絡我們</a>
                        <a href="#" class="text-gray-900 hover:text-gray-700  rounded-md text-lg font-medium">登入</a>
                        <a href="#" class="text-gray-900 hover:text-gray-700  rounded-md text-lg font-medium">註冊</a>
                    </div>
                    <div class="md:hidden flex items-center">
                        <button id="mobile-menu-button"
                            class="text-gray-900 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-900">
                            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div id="mobile-menu" class="md:hidden hidden">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:pl-1">
                <a href="#" class="block text-gray-900 hover:text-gray-700  rounded-md text-base font-medium">首頁</a>
                <a href="#" class="block text-gray-900 hover:text-gray-700  rounded-md text-base font-medium">關於我們</a>
                <a href="#" class="block text-gray-900 hover:text-gray-700  rounded-md text-base font-medium">服務</a>
                <a href="#" class="block text-gray-900 hover:text-gray-700  rounded-md text-base font-medium">聯絡我們</a>
                <a href="#" class="block text-gray-900 hover:text-gray-700  rounded-md text-base font-medium">登入</a>
                <a href="#" class="block text-gray-900 hover:text-gray-700  rounded-md text-base font-medium">註冊</a>
            </div>
        </div>
    </nav>

    <script>
        document.getElementById('mobile-menu-button').addEventListener('click', function () {
            var mobileMenu = document.getElementById('mobile-menu');
            if (mobileMenu.classList.contains('hidden')) {
                mobileMenu.classList.remove('hidden');
            } else {
                mobileMenu.classList.add('hidden');
            }
        });
    </script>
</body>

</html>