<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/output.css">
    <title>Document</title>
</head>

<body>
    <nav class="bg-yellow-100 shadow-md rounded-md rounded-b-none">
        <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-20">
                <div class="flex items-center">
                    <div class="shrink-0 flex items-center">
                        <a href="#">
                            <img src="../static/images/MyLogo.png" alt="logo" class="h-14 w-auto sm:h-16">
                        </a>
                        <span class="ml-1 text-4xl">PlayCentric</span>
                    </div>
                </div>

                <!-- menu -->
                <div class="flex items-center font-semibold">
                    <div class="hidden md:flex md:ml-6 md:space-x-4 select-none cursor-pointer">
                        <div>
                            <a href="#">管理介面</a>
                        </div>
                        <div class="relative tag">
                            會員
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="relative tag">
                            遊戲商店
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="relative tag">
                            討論區
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="relative tag">
                            物品交易
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="relative tag">
                            伴遊
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="relative tag">
                            活動
                            <div class="dropmenu hidden">
                                <ul>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                    <li class="menu-item">
                                        我的選項
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="md:hidden flex items-center">
                        <button id="mobile-menu-button"
                            class="text-gray-900 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-900">
                            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile menu -->
        <div id="mobile-menu" class="md:hidden hidden text-center select-none">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:pl-1">
                <div>
                    <a href="#">管理介面</a>
                </div>
                <div class="tag-m">
                    會員
                    <div class="dropmenu-m hidden">
                        <ul>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tag-m">
                    遊戲商店
                    <div class="dropmenu-m hidden">
                        <ul>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tag-m">
                    討論區
                    <div class="dropmenu-m hidden">
                        <ul>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tag-m">
                    物品交易
                    <div class="dropmenu-m hidden">
                        <ul>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tag-m">
                    伴遊
                    <div class="dropmenu-m hidden">
                        <ul>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tag-m">
                    活動
                    <div class="dropmenu-m hidden">
                        <ul>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                            <li class="menu-item">
                                我的選項
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <script src="../static/js/nav.js"></script>
</body>

</html>