<!DOCTYPE html>
<html lang="zh-TW" xmlms:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <th:block th:each="anno:${allAnno}">
        <h2><a th:href="@{/anno/showOneAnno(annoId=${anno.annoId})}" 
        th:text="[ + ${anno.announcementType.annoTypeName} + ] + ${anno.title}"></a></h2>
        <h2 th:text="建立日期 + ${#dates.format(anno.createAt,'yyyy年MM月dd日')}"></h2>
        <p>
            <a th:href="@{/anno/getUpdatAnno(annoId=${anno.annoId})}">修改</a>
            <a th:href="@{/anno/deleteAnno(annoId=${anno.annoId})}">刪除</a>
        </p>
    </th:block>

    <script src="../javascript/bootstrap.bundle.min.js"></script>
</body>

</html>