<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <title>上傳圖片(測試用網站)</title>
</head>

<body>

    <div th:replace="~{layout/nav}"></div>

    

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="h1">上傳圖片</div>
        <form method="POST" th:action="@{/imagesLib/upload}" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">圖片名稱</label>
            <input type="text" class="form-control" name="fileName" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">圖片</label>
            <input type="file" class="form-control" name="photoFile" required>
          </div>
          <button type="submit" class="btn btn-primary">上傳</button>
        </form>
        <div th:text="${errorMsg} ? ${errorMsg}"></div>
        <div th:text="${okMsg} ? ${okMsg}"></div>
      </div>
    </div>
  </div>
    
</body>

</html>